.box{
    height: 400px;
    width: 700px;
    background-color: rgb(224, 245, 245);
}

.container-fluid{
    background-color: rgb(6, 6, 250);
}
.navbar-brand{
    color: white;
}
.box1{
    height: 250px;
    width: 200px;
    overflow: hidden;
    background: linear-gradient(rgb(32, 187, 249),white);
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.box2{
    height:30px ;
    width: 200px ;
    background-color: rgb(10, 10, 10);
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
.circle{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background-color:rgba(255, 255, 255, 0.523);
    transform: translate(0,-50%);
    z-index: 0;
}
.title{
    width: 200px;
    height: max-content;
    background-color: rgba(255, 255, 255, 0.562);
    margin-left: 24px;
    text-align: center;
}
.img1{
    background-position: center;
    background-size: cover;
    width: 200px;
    height: 250px;
    z-index: 1;
}